

/* Darker Theme */
.dark-theme {
    --background-color: black;
    --text-color: white;
    --name-color: lightblue;
}

/* Lighter Theme  */
.light-theme {
    --background-color: #f0f0f0;
    --text-color: #333;
    --name-color: green;
}