<footer
  class="fixed inset-x-0 bottom-0 h-8 border-t border-[#f1f1f1] bg-[#c0c0c0] px-1 py-[2px]"
>
  <button type="button" class="start-button">
    <img
      src="/icons/95/Windows/Windows logo (without text).ico"
      alt=""
      class="size-5"
    />
    Start
  </button>
</footer>

<style>
  .start-button {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    height: 28px;
    background-color: #c0c0c0;
    padding: 0 0.5rem;
    font-size: 15px;
    font-family: ThiccWin95, W95FA, sans-serif;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    cursor: default;
  }

  .start-button:active {
    box-shadow:
      inset 2px 0 0 0 black,
      inset 0 2px 0 0 black,
      inset -2px 0 0 0 white,
      inset 0 -2px 0 0 white;
  }
</style>
