---
import Card from "./Card.svelte";
import Grid from "./Grid.svelte";
import Heading from "./Heading.svelte";
//type 1 = Currently Working on
//type 2 = Done And Ready
//type 3 = on hold
//type 4 = Dropped
let workingOn = [
  {
    name: "Cold Brew",
    color: "maroon",
    link: "https://github.com/137-Trimethylxanthin/Cold-brew",
    disciption:
      "Its a pure Java Music Player. <br> Currently Supports: <br> - All local music files (i think) <br> - Jellyfin (currently working on) <br> The idea bhind it was to make it a daemon,<br> that can be controlled via simple teminal commands | http requests",
  },
];

let doneAndReady = [];

let onHold = [];

let dropped = [];
---

<div class="flex flex-col justify-center items-center">
  <h3 class="text-4xl">Currently Working On:</h3>
  <Grid gridCols="2">
    {
      workingOn.map((project) => (
        <Card href={project.link} otherClass="min-w-[40vw]">
          <Heading>{project.name}</Heading>
          <p class=" self-start ">
            <Fragment set:html={project.disciption} />
          </p>
        </Card>
      ))
    }
  </Grid>
</div>
