---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home</title>
	</head>
	<body class="bg-base text-text">
		<div class="flex justify-center items-center flex-col text-2xl">
			<h1 class="text-8xl text-teal font-bold mb-4"> Lorem, ipsum. </h1>
			<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus quasi sunt qui!</p>
		</div>
	</body>
</html>
